@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
:root {
  --primary-color: #fca5a5;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}
.container-center {
  text-align: center;
  margin: auto;
}
nav {
  background-color: var(--primary-color);
  font-size: 2rem;
  padding: 1rem;
  color: white;
}
hr {
  max-width: 60%;
}
